<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4"></div>
            <div class="col col-12 col-sm-4">

    <form method="POST" action="/getdata">
     <table class="table">
        <tr><td>Name</td>
        <td><input type="text" name="getname"></td>
    </tr>
        <tr>
            <td>Address</td>
        <td><input type="text" name="getaddress"></td>
    </tr>
    <tr>
        <td>Place</td>
        <td><input type="text" name="getplace"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="number" name="getnumber"></td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td><input type="text" name="getemail"></td>
    </tr>
    <tr>
    <td></td>
    <td><button type="submit" class="abcd">Submit</button></td>
</tr>

<div class="col col-12 col-sm-4"></div>
</div>
</div><div>
    </table>
    </form>

    
</body>
</html>