<h1>Hello {{name}}</h1>
<div class="container">

    <div class="jumbotron">
    
       <div class="row">
           <div class="col col-sm-6" >
               <h1> WEB</h1>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero, pariatur optio reiciendis doloremque fuga itaque similique repellendus commodi labore perferendis ullam accusantium, nam, hic ducimus facilis corrupti sapiente iste.
           </div>
           <div class="col col-sm-6">
               <h1>SITE</h1>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, explicabo eum. Velit corporis similique beatae sed autem perferendis dolore odit eligendi eaque dicta, quidem dolorum commodi! Asperiores autem est nesciunt!
           </div>
       </div>
    </div> 
   </div>
